# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Jupyter Notebook temporary files
*.ipynb_checkpoints
*.ipynb_checkpoint

# Jupyter Notebook autosave
*.autosave.ipynb

# Data files
*.csv
*.json
!src/prompt_file/*.json
!configs/*.json

# API key files
api_key*.txt

# Python cache files
__pycache__/
*.pyc

data/Evaluation_CoTs/final.csv
